<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/gonzalez.jpeg" alt="Aquí va una foto" style="width:80%">
            </div>        
            <div class="detail">
                <h1>Matias Gonzalez</h1>
                <p><strong>Profesión: </strong>Docente e Informático</p>
                <p><strong>País: </strong>Argentina</p>
                <p><strong>Reseña: </strong>Matias Nicolas Gonzalez (Posadas, Misiones - Argentina, 22 de agosto de 1995 - Mahale, Tanzania 2064), 
                    docente, programador, tecnico en computación, bailarin, fotógrafo y miembro de los "Sombreros de paja" . Es considerado uno de los padres de Augusto (A.D.N en curso), querido por muchos y odiado por la afip. Durante el día se dedica a ver videos de "Les luthiers" de dudosa procedencia y por las noches se lo suele ver en su trinchera emitiendo sonidos mecánicos provenientes de un teclado    </p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>